In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2022-04-26 16:15:07,42.6001,-73.9662,53.26,80,100,1.16
1,1,Baicheng,CN,2022-04-26 16:16:10,45.6167,122.8167,43.99,33,2,14.85
2,2,Mount Gambier,AU,2022-04-26 16:16:10,-37.8333,140.7667,57.88,90,100,5.41
3,3,Sistranda,NO,2022-04-26 16:16:11,63.7256,8.8340,40.96,55,87,13.56
4,4,Isangel,VU,2022-04-26 16:16:11,-19.5500,169.2667,74.66,65,100,12.33

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

#5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Faanui,PF,2022-04-26 16:16:12,-16.4833,-151.7500,81.73,75,13,19.48
7,7,Tevaitoa,PF,2022-04-26 16:16:13,-16.7833,-151.5000,81.57,76,14,19.95
15,15,Kavieng,PG,2022-04-26 16:16:17,-2.5744,150.7967,82.69,76,8,13.11
17,17,Rikitea,PF,2022-04-26 16:16:18,-23.1203,-134.9692,78.39,73,98,19.89
19,19,Bukama,CD,2022-04-26 16:16:19,-9.2000,25.8500,77.43,77,67,2.37
26,26,Sur,OM,2022-04-26 16:16:23,22.5667,59.5289,88.38,51,16,2.57
31,31,Karratha,AU,2022-04-26 16:16:25,-20.7377,116.8463,80.94,54,100,10.60
33,33,Diamantina,BR,2022-04-26 16:16:26,-18.2494,-43.6003,76.19,52,38,8.03
35,35,Morant Bay,JM,2022-04-26 16:16:27,17.8815,-76.4093,86.70,73,27,7.31
40,40,Kadhan,PK,2022-04-26 16:16:30,24.4810,68.9859,89.96,39,0,16.44

In [12]:
preferred_cities_df.count()

City_ID       187
City          187
Country       185
Date          187
Lat           187
Lng           187
Max Temp      187
Humidity      187
Cloudiness    187
Wind Speed    187
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
5       Faanui      PF     81.73 -16.4833 -151.7500
7     Tevaitoa      PF     81.57 -16.7833 -151.5000
15     Kavieng      PG     82.69  -2.5744  150.7967
17     Rikitea      PF     78.39 -23.1203 -134.9692
19      Bukama      CD     77.43  -9.2000   25.8500
26         Sur      OM     88.38  22.5667   59.5289
31    Karratha      AU     80.94 -20.7377  116.8463
33  Diamantina      BR     76.19 -18.2494  -43.6003
35  Morant Bay      JM     86.70  17.8815  -76.4093
40      Kadhan      PK     89.96  24.4810   68.9859

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
len(hotels["results"])

20

In [17]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Faanui,PF,81.73,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
7,Tevaitoa,PF,81.57,-16.7833,-151.5000,Hôtel Raiatea Lodge
15,Kavieng,PG,82.69,-2.5744,150.7967,Nusa Island Retreat
17,Rikitea,PF,78.39,-23.1203,-134.9692,People ThankYou
19,Bukama,CD,77.43,-9.2000,25.8500,
...,...,...,...,...,...,...
562,Mount Pleasant,US,86.99,32.7941,-79.8626,Best Western Patriots Point
570,General Pico,AR,80.28,-35.6566,-63.7568,Euskadi Hotel
571,Labuhan,ID,79.66,-6.8844,112.2051,DoubleFAG
573,Srivardhan,IN,84.06,18.0333,73.0167,Savli Resort/Hotel - Shrivardhan
574,Voi,KE,75.38,-3.3945,38.5630,Voi Wildlife Lodge

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))